body{
	margin:2%;
	font-size: 120%;
	background: #B3B3B3;
}

h1{
	color: #FFFFFF;
}

header{
	background: #666666;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times Now Roman";
	font-size: 150%;
	padding: auto;
}

h2{
	color: #000000;
	background: #00B7EA;
}

details p{
	font-style: italic;
	padding: 0px;
}


footer{
	background: #666666;
	clear: both;
	margin-top: 4%;
}

section{
	width: 30%;
	display: inline-block;
	float: left;
	margin-right: 2%;
	overflow: auto;
}

img{
	width: 20%;
}

a {
    color: #faebd7;
    text-transform: capitalize;
    text-decoration-line: none;
    display: inline-block;
}
a:hover{
	background: #a9a9a9;
	color:#000000;
	/*border: solid 3px #000000;*/
}
a:focus{
	background: #a9a9a9;
	color:#000000;	
	border: solid 3px #000000;
}
a:active{
	color: #ff0000;
	border: solid 3px #ff0000;
}

section h2{
	border: solid 3px black;
	border-radius: 5px;
}

.section iframe{
	height: 700px;
	width: 80%;
	margin-left: 10%;
	border-color: #ff0000;
	border-style: outset;
}







