body{
	margin:2%;
	background: #B3B3B3;
}

h1{
	color: #FFFFFF;
}

header{
	background: #666666;
	text-align: center;
	padding: 15px;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times Now Roman";
	font-size: 150%;
}

h2{
	color: #000000;
	background: #00B7EA;
}

details p{
	font-style: italic;
	padding: 0px;
}


footer{
	background: #666666;
	clear: both;
	margin-top: 4%;
}

section{
	width: 30%;
	display: inline-block;
	float: left;
	margin-right: 2%;
	overflow: auto;
}

img{
	width: 20%;
}

nav a {
    color: #faebd7;
    text-transform: capitalize;
    text-decoration-line: none;
}

section h2{
	border: solid 3px black;
	border-radius: 5px;
}









